.container_adm_page {
    min-height: 100vh;
}

.adm_table_head {
    width: 60%;
}

.adm_btn_container {
    display: flex;
    justify-content: flex-end;
}

.adm_btn {
    background: #2B3352;
    border-radius: 4px;
    margin-top: 30px;
}

.adm_table_user {
    width: 100%;
    justify-content: space-between;
}

.adm_tipo_text {
    display: flex;
    justify-content: center;
}

.adm_icon_container {
    width: 100px;

    margin-left: 200px;

    display: flex;
    justify-content: space-between;
}

.pointer {
    cursor: pointer;
}

